/JavaTutorials/.idea
8.10
.git
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/file-system.probe
/.gradle/vcs-1/gc.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml

.idea/

build/

hotspot_pid38444.log

hotspot_pid13620.log
